<!DOCTYPE html>
<html>
<head>
<title>Math AI Solver</title>
</head>

<body>

<h1>Math AI Solver</h1>

<form method="POST">
<input name="expr" placeholder="Nhập bài toán">
<button type="submit">Solve</button>
</form>

<h3>Kết quả:</h3>
<p>{{ result }}</p>

{% if graph %}
<img src="{{ graph }}" width="400">
{% endif %}

<h3>Kết quả:</h3>
<p>{{ result }}</p>

{% if graph %}
<h3>Đồ thị:</h3>
<img src="{{ url_for('static', filename=graph) }}" width="500">
{% endif %}
</ul>

</body>
</html>
